 <div class="column">
	<h3>TaCTICS Downloads</h3>
							

<div>
<h3>Download DICOM Images</h3>

<h4>Data set 1: Head and Neck</h4>
Download data <%= link_to 'here', image_path('h_n_slices.zip') %><br>
Please refer to  <%= link_to 'contouring instructions', image_path('TaCTICS_OAR_Phase_2_instructions.pdf') %><br>

<h4>Atlases are available here:</h4>

 <%= link_to 'Atlas 1', image_path('Pacholke.pdf') %><br>
<%= link_to 'Atlas 2', image_path('RTOG_HN_Atlas.pdf') %><br>
 <%= link_to 'Atlas 3', image_path('RTOG_Table_Neck.pdf') %><br>
<%= link_to 'Atlas 4', image_path('vanDeWaterguide1.pdf') %><br>
 <%= link_to 'Atlas 5', image_path('Vibhute_LN_levels.pdf') %><br>


</div>


  	             
</div><!-- end column-->
