<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<title>OHSU | Target Contour Testing/Instructional
Computer Software (TaCTICS)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<%=  stylesheet_link_tag "tactics" %>
<%=  stylesheet_link_tag "menu1" %>
<%=  stylesheet_link_tag "niceforms-default2" %>
<script src="<%= javascript_path('niceforms.js') %>" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#compare_id').change(function(ev) {
      $('#choose_contouring').submit();
    });

	$('#view_button').click(function() {
             var n = $('input:checked')
                    if(n.length==2) {
              var struct1 =  n[0].id.split('_')[2];
               var struct2 = n[1].id.split('_')[2];	
     window.open('<%= url_for(:controller => :visualize_structure, :action => :compare) %>?struct1=' + struct1 + '&struct2=' + struct2);

}
	});

  });
</script>




</head>

<body>
<div id="main">

		<div class="inside2">
			<a href="#"><img src="<%= image_path('logo.png') %>" alt="" width="" height="" class="logo"/></a>																													
			</div>
	<p class="slogan2">Target Contour Testing/Instructional <br/>Computer Software (TaCTICS)</p>
   
	<div id="backgroundHolder">
	<ul class="nav">
                     <li class ="drop"> <%= link_to 'Home', {:controller => :content, :action => :index}, :class=>"main" %></li>
				<li class ="drop"><%= link_to "Registration", {:controller => :registration, :action => :index}, :class=>"main" %></li>
				<li class ="drop"><%= link_to 'Download Data', {:controller => :content, :action => :data}, :class=>"main" %></li>
				<li class ="drop"><%= link_to 'Submission Site', {:controller => :submission, :action => :index}, :class=>"main" %></li>
				<li class ="drop"><%= link_to 'Comparisons', {:controller => :comparison, :action => :index}, :class=>"main" %></li>
				<li class ="drop"><%= link_to 'Publications', {:controller => :content, :action => :publications}, :class=>"main" %></li>
			
	
	</ul>
		
     </div>
   <div class="wrap">
	 <div class="inside"> <%= yield %>
	 
		
			

               
		    
		   
		</div><!-- end inside -->
	   <div id="footer">
	 
		<%= link_to 'Home', :controller => :content, :action => :index %><span> | </span><%= link_to "Registration", :controller => :registration, :action => :index %><span> | </span>         
<%= link_to 'Download Data', :controller => :content, :action => :data %><span>| </span><%= link_to 'Submission Site', :controller => :submission, :action => :index %><span>| </span> 
<%= link_to 'Comparisons', :controller => :comparison, :action => :index %>
<span> | </span><%= link_to 'Publications', :controller => :content, :action => :publications %>							
	
		<p>2010 Copyright &copy; OHSU Department of Medical Informatics & Clinical Epidemiology </p>
		
	 	</div><!--end footer -->
    
	 	
	 </div><!-- end wrap -->
	</div><!-- end main -->
</body>
</html>
